body {
    background-color: black;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar button {
    padding: 6px 8px 6px 16px;
    width: 120px;
}

.container {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: center;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;

  }

.container:after {    
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }

  .crawl {
    animation: scroll 100s linear 2s;
    position: absolute;
    top: 100%;
    color: yellow;
  }

  @keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}

 

